/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #38FFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
}

/* Estilo para o logo da FIFA */
.fifa-logo {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    margin-bottom: 20px;
}

h1 {
    color: #d32f2f; /* Vermelho */
    font-size: 26px;
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #0000ff; /* Azul */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff0000; /* Vermelho ao passar o mouse */
}

button:disabled {
    background-color: #ccc; /* Cinza quando desabilitado */
    cursor: not-allowed;
}

.erro {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* Esconde a mensagem de erro inicialmente */
}

#resultado {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}